<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudlog</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/new">New Post</a>
        <a href="/projects">Projects</a>
        <a href="/cloudlog">Cloudlog</a>
    </nav>
    <h1>Cloudlog App Landing Page</h1>
    <p>This will be a link to my ham radio cloudlog app.</p>
</body>

</html>