<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
  </nav>
  <div class="container">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
  </div>
</body>
</html>
