<!DOCTYPE html>
<html>

<head>
    <title>Projects Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/new">New Post</a>
        <a href="/projects">Projects</a>
        <a href="/cloudlog">Cloudlog</a>
    </nav>
    <h1>Projects Landing Page</h1>
    <p>Here you can find a list of my projects.</p>
</body>

</html>